@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Kurale&family=Playfair+Display+SC&display=swap');

body{
    background-color: #DDFFFF;

    font-family: "Alegreya";
    font-style: normal;
    font-weight: 800;
    font-size: 22.4794px;
    line-height: 151.5%;
    color: #3271B0;

    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 10px;
}

h1{
    
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;

    background: radial-gradient(50% 50% at 50% 50%, #99CCCC 0%, #3271B0 41.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h2{
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;

    color: #DDFFFF;
}

h3{
    font-family: 'Kurale';
    font-style: normal;
    font-weight: 840;
    font-size: 24px;
    line-height: 151.5%;
    /* or 36px */
    
    color: #FFFFFF;
}
h4{
    font-family: 'Kurale';
    font-style: normal;
    font-weight: 840;
    font-size: 32px;
    line-height: 151.5%;
    text-align: center;
    /* or 48px */


    color: #3271B0;
}
h5{
    font-family: 'KyivType Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
text-align: center;

color: #3A78B4;

}

h6{
    font-family: 'Kurale';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    align-items: center;
    text-align: center;
    
    color: #3271B0;
}

.text{
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 600;
    font-size: 12.4794px;
    line-height: 151.5%;
    /* or 34px */


    color: #3271B0;
}

.text_uslugi{
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 600;
    font-size: 8.4794px;
    line-height: 151.5%;
    /* or 34px */


    color: #3271B0;
}

p {
    line-height: 28px;
    margin-bottom: 25 px;
}

.centered {
    text-align: center;
}

a {
    color: #3271B0;
}

a:hover, a:focus{
    color: #169af3;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.my-button{
    box-sizing: border-box;
    width: 238.5px;
    height: 51.37px;
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 700;
    font-size: 23.3741px;
    line-height: 28px;
    color: #FFFFFF;
    background: linear-gradient(360deg, #99CCCC 0.73%, #3271B0 31.2%, #3271B0 60.69%, #99CCCC 100%);
    border-radius: 11.687px;

}

.my-carousel-button{
    width: 85px;
    height: 85px;
    left: 973px;
    top: 2138px;

    background: url('images/image\ 22.png');

}

.logo {
    position: absolute;
    /*width: 182.02px;
    height: 164.8px;
    left: 80.18px;
    top: -3px;*/

    transform: rotate(0.06deg);
}

.company-name{
    position: absolute;
    /*width: 529px;
    height: 111px;
    left: 217px;*/
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    text-align: center;

    background: radial-gradient(50% 50% at 50% 50%, #99CCCC 0%, #3271B0 41.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.background {
    background-image: url('images/image\ 3.png');
    background-position: center center;
    background-size: cover;
  }

.info
{
    position: absolute;
    height: auto;
    width: 100%;
    
}

.dark_rectangle{
    
    background: rgba(0, 0, 0, 0.24);
}

.light_rectangle{
    background: #CCFFFF;
}

.empty-block {
    height: 80px;
  }

.my-button-carousel{
    box-sizing: border-box;
    width: 238.5px;
    height: 51.37px;
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 700;
    font-size: 23.3741px;
    line-height: 28px;
    color: #FFFFFF;
    background: linear-gradient(360deg, #99CCCC 0.73%, #3271B0 31.2%, #3271B0 60.69%, #99CCCC 100%);
    border-radius: 11.687px;
}

  .carousel-item {
  height: 400px;
}


  .carousel-item img {
    max-height: 400px;
    object-fit: cover;
  }
  
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: flex !important;
  }
  
  .carousel-item-next,
  .carousel-item-prev {
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    transform: translateX(0);
  }
  
  @media (min-width: 992px) {
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
      transform: translateX(50%);
    }
    
    .carousel-item-next,
    .carousel-item-prev {
      transform: translateX(0);
      display: block;
      opacity: 0.5;
    }
  
    .carousel-item.active {
      opacity: 1;
    }
  }
  
  .center-text {
    margin-bottom: calc(2 * 3rem);
  }

  .rectangle {
    background-color: rgba(50, 113, 176, 0.22);
    margin: 20px 0;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  @media (max-width: 768px) {
    .rectangle:nth-of-type(3),
    .rectangle:nth-of-type(4) {
      margin-top: 40px;
    }
  }